/FuelConsumption/nbproject/private/
/FuelConsumption/build/
/ChangeValues/nbproject/private/
/ChangeValues/build/
/Hypotenus/nbproject/private/
/Hypotenus/build/
/BiggestNumber/nbproject/private/
/BiggestNumber/build/
/LargestNumber/nbproject/private/
/LargestNumber/build/
/BMIwCondition/nbproject/private/
/BMIwCondition/build/
/Simple Calculator/nbproject/private/
/Simple Calculator/build/
/GradeCalculator/nbproject/private/
/GradeCalculator/build/
/SumofNumbers/nbproject/private/
/SumofNumbers/build/
